/node_modules
/public/hot
/public/storage
public/fonts/vendor/@fortawesome/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
testet/
public/css
public/js
public/mix-manifest.json
*-bak.*
public/web.config
.vscode/launch.json
*.bak
.env.production
.env.uat